@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
}

.continer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.continer-seccion{

}
.continer-img{
    position:absolute;
    width:30%;
    height:30%;
    background-image: url(../images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.continer-perfil{
    background-color: hsl(0, 0%, 100%);
    height: auto;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }